# Project dependencies
.yarn
.cache
*.pyc
node_modules
yarn-error.log

# Build directory
/build
/dist
.DS_Store
.sass-cache/
_posts/
_site/
# FIT_OUT

.mypy_cache

/.vscode
.idea

config.yaml
.venv/
.pdm-python

route.png
route.svg

.env
# assets/year*.svg
# assets/grid*.svg
# assets/mol*.svg
# assets/github*.svg
run_page/data.db
run_page/data.parquet
